<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="/static/css/auth.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
  </head>
  <body>
    <div class="center">
      <h1>Регистрация</h1>
    <form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">
      <div class="txt_field">
        <input type="email" required th:field="*{email}">
        <span></span>
        <label>Почта</label>
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Ошибка в названии почты</div>
      </div>
      <div class="txt_field">
        <input type="password" required th:field="*{password}">
        <span></span>
        <label>Пароль</label>
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Ошибка в пароле</div>
      </div>
      <input type="submit" value="Зарегистрироваться">
      <div class="signup_link">
        Уже есть аккаунт? <a href="/auth/login">Войти</a>
      </div>
    </form>
    </div>
    <script href="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>