<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Туры</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand font-weight-bold" href="#"><img src="/static/img/logo.png" alt="Logo"></a>
            <h2 style="margin-right: 15px"> TravelAgency</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? '/admin/index' : '/index'}">На главную</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/my_tours">Мои туры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/countries">Добавь тур</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" th:method="POST" class="d-flex">
                            <button class="btn btn-primary btn-lg me-2 btn-logout" type="submit">Выйти</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-5">
    <h1 class="text-center mb-5">Информация о всех турах</h1>
    <div class="row">
        <div th:each="tour : ${tours}" class="col-md-4">
            <div class="card mb-4">
                <img th:src="@{/flags/{id}(id=${tour.owner.getFlagId()})}" alt="" src="" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title" th:text="${tour.name}"></h3>
                    <p class="tours-text card-text" th:text="'Цена: ' + ${tour.price} + ' ₽'"></p>
                    <p class="description-text-tours card-text" th:text="'Описание: ' + ${tour.description}"></p>
                    <p class="tours-text card-text" th:text="'Страна: ' + ${tour.owner.name}"></p>
                    <form th:action="@{/admin/delete_tour/{id}(id=${tour.getId()})}" th:method="DELETE">
                        <button type="submit" class="btn btn-danger btn-block">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-12 text-center">
    <a href="/admin/add_tour" class="btn btn-success btn-lg add-new">Добавить новый тур</a>
</div>
<footer class="bg-light py-3">
    <div class="text-center p-1">
        © 2023 РТУ МИРЭА: Туристическое агенство, Журавлев К.А.
    </div>
</footer>
<script href="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
