<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Туры</title>
    </head>
    <body>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Logout"/>
        </form>
        <div th:each="tour : ${tours}">
            <a th:href="@{/tours/{id}(id=${tour.getId()})}"
               th:text="${tour.getName() + ', ' + tour.getPrice()}">tour</a>
        </div>
        <br/>
        <hr/>
        <a href="/tours/new">Create new tour</a>
    </body>
</html>
