<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Данные о туре</title>
    </head>
    <body>
        <p th:text="${tour.getName() + ', ' + tour.getPrice()}">VALUE</p>
        <p th:text="${'Описание: ' + tour.getDescription()}">VALUE</p>
        <p th:text="${tour.getId()}">VALUE</p>

        <form th:method="DELETE" th:action="@{/tours/{id}(id=${tour.getId()})}">
            <input type="submit" value="Удалить"/>
        </form>
    </body>
</html>