<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Возможности админа</title>
    </head>
    <body>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Logout"/>
        </form>`
        <a href="">Мои туры</a>
        <br/>
        <a href="/countries">Поехать в тур</a>
        <br/>
        <a href="">Информация о пользователях</a>
        <br/>
        <a href="">Добавить страну</a>
        <br/>
        <a href="">Добавить тур</a>
    </body>
</html>