<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Возможности админа</title>
    </head>
    <body>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Выйти"/>
        </form>
        <a href="/my_tours">Мои туры</a>
        <br/>
        <a href="/countries">Поехать в тур</a>
        <br/>
        <a href="/admin/users_info">Информация о пользователях</a>
        <br/>
        <a href="/admin/countries_info">Информация о странах</a>
        <br/>
        <a href="/admin/tours_info">Информация о турах</a>
    </body>
</html>