<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Данные о пользователе</title>
</head>
<body>
    <p th:text="${user.getEmail()}">VALUE</p>
    <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
    <!--<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}">
        <input type="submit" value="Редактировать"/>
    </form>-->
    <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>
    <a th:href="@{/users/{id}/my_tours(id=${user.getId()})}">Мои туры</a>
</body>
</html>