body {
    height: 100%;
    width: auto;
}

.card-text {
    height: 40px;
    overflow: auto;
}

.tours-text{
    height: 25px;
    overflow: auto;
}

.description-text{
    height: 100px;
    overflow: auto;
}

.description-text-tours {
    height: 80px;
    overflow: auto;
}
.add-new {
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav-link {
    position: relative;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: darkgrey;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav.ml-auto {
    margin-right: 0;
}

.navbar-nav.ml-auto .nav-item {
    margin-left: 10px;
}

.navbar-nav.ml-auto .nav-item:first-child {
    margin-left: 0;
}

.btn-logout{
    position: absolute;
    right: 20px;
    top: 15px;
}

.nav-item {
    margin-right: 10px;
}

.my-btn {
    margin-top: 12px;
    margin-bottom: 2px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0069d9;
}