<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Страны</title>
    </head>
    <body>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Logout"/>
        </form>
        <div th:each="country : ${countries}">
            <p th:text="${country.getName()}">VALUE</p>
            <br/>
            <a th:href="@{/{id}/tours(id=${country.getId()})}">страна</a>
        </div>
    </body>
</html>